<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="utf-8">
<style>
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }
    #player{
        height: 100%;
        width: 100%;
        border: none;
    }
</style>
<title>
    {% if filme %}
        Assistir {{ filme.titulo }}
    {% endif %}

    {% if serie %}
        Assistir {{ serie.titulo }}
    {% endif %}
</title>
</head>
<body>
    <!-- Diferencia de file ou série para saber de onde pegar o ID -->

    {% if filme %}
        <iframe src="{{ filme.video }}" id="player" frameborder="0" allowfullscreen></iframe>
    {% endif %}

    {% if serie %}
        <iframe src="{{ serie.video }}" id="player" frameborder="0" allowfullscreen></iframe>
    {% endif %}

</body></html>